<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>yande-random</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.min.js"></script>

  <style>
    ul {
      column-gap: 0;
      list-style-type: none;
    }
    ul li {
      break-inside: avoid;
      padding: 0.5em;
    }
    ul li img {
      max-width: 100%;
      max-height: 100%;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .row {
      margin-bottom: 0.5em;
    }
    ul li img.nsfw {
      filter: blur(10px);
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
      
    </div>
    <div class="row">

      number：<input type="number" v-model="count" style="width: 50px;">
      column：<input type="number" v-model="colsize" style="width: 50px;">
      padding: <input type="number" v-model="padding" style="width: 50px;">
      parallelism: <input type="number" min="1" max="3" v-model="parallelism">
      nsfw mask: <input type="checkbox" v-model="nsfw_mask">

    </div>

    <div class="row">
      tags: <input type="text" v-model="tags" style="width: 300px;">
      score > <input type="number" v-model="score" style="width: 50px;">
      rating: 
      <select v-model="rating">
        <option value="">all</option>
        <option value="safe">safe</option>
        <option value="explicit">explicit</option>
        <option value="questionable">questionable</option>
      </select>
      order: 
      <select v-model="order">
        <option value="id">id</option>
        <option value="score">score</option>
        <option value="mpixels">mpixels</option>
        <option value="landscape">landscape</option>
        <option value="portrait">portrait</option>
        <option value="vote">vote</option>
        <option value="random">random</option>
      </select>
    </div>

    <div class="row">
      <button @click="refresh" :disabled="is_loading" style="height: 30px;">搜索</button>

    </div>

    <ul :style="{ 'column-count': colsize }">
      <li v-for="(item, index) in loaditems" :key="item.id" :style="{ padding: `${padding}px`}">
        <a :href="item.file_url" target="_blank">
          <img v-if="!item.loaded" src="./loading.svg" >
          <img :class="{ nsfw: item.rating === 'e' && rating !== 'explicit' && nsfw_mask }" :src="item.url" :alt="item.id" @load="add_load(); item.loaded = true">
        </a>
      </li>
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data () {
        return {
          count: 10,
          colsize: 5,
          padding: 10,
          parallelism: 2,
          nsfw_mask: true,

          format: 'webp',
          tags: '',
          score: 70,
          rating: 'safe',
          order: 'random',

          seq: 1,
          items: [],
          loaditems: [],

          is_loading: false
        }
      },
      methods: {
        async refresh () {
          let { count, format, tags, rating, score, order, parallelism } = this
          let tags_param = tags

          if (score) {
            tags_param += ` score:>${score}`
          }

          if (rating) {
            tags_param += ` rating:${rating}`
          }

          if (order) {
            tags_param += ` order:${order}`
          }
          
          this.is_loading = true
          let items = await (await fetch(`/api/yande-post?limit=${count}&tags=${encodeURIComponent(tags_param)}`)).json()

          this.items = items.slice(0, count).map(item => {
            return {
              id: item.id,
              url: `/api/yande-image?url=${encodeURIComponent(item.sample_url)}&format=${format}`,
              file_url: item.file_url,
              width: item.sample_width,
              height: item.sample_height,
              rating: item.rating,
              loaded: false
            }
          })
          this.loaditems = []

          for (let i = 0; i < parallelism; i++) {
            this.add_load()
          }
        },
        async add_load () {
          let { loaditems, items } = this
          if (items.length > 0) { 
            const item = items.pop()
            loaditems.push(item)
          } else {
            this.is_loading = false
          }
        },
      },
      created () {
        // this.refresh()
      }
    })
  </script>
</body>
</html>
